body, div, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    background: #fff;
    color: #222;
}
ol, ul, li, h1, h2, h3, h4, h5, h6 {
    list-style: none;
}
a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
i, span {
    font-style: normal;
    /*font-weight: normal;*/
}
input, button, select{
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    outline: 0;
}
li:after {
    clear: both;
}
ul:after {
    clear: both;
}
img{
    cursor: default;
}

/*头部*/
#header{
    position: fixed;
    width: 100%;
    background: #fff;
    height: 78px;
    z-index: 4;
}
#header .header_main{
    position: fixed;
    width: 1000px;
    height: 78px;
    margin-left: -500px;
    left: 50%;
    background: #fff;
}
#header .logo{
    width: 213px;
    float: left;
    margin-right: 50px;
}
.logo img{
    margin-top: 15px;
}
#header ul{
    float: right;
}
#header ul li{
    float: left;
    display: inline-block;
    list-style: none;
}
#header ul li a{
    display: inline-block;
    padding: 0 15px 0 15px;
    line-height: 78px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 19px;
    color: #000;
}
#header ul li a:hover{
    color: #fff;
    background: #a4f087;
}
#header ul:after{
    clear: both;
}

/*中间主体*/
#main{
    position: relative;
    min-width: 1000px;
    top: 78px;
    height: 4635px;
    margin: 0 auto;
    background: url(../imgs/bg.png) no-repeat center center;
    background-size: 100% 100%;
    background-position: top;
    overflow: hidden;
}
.banner{
    position: relative;
    width: 1030px;
    height: 800px;
    margin: 0 auto;
}
.banner .banner_main{
    animation: banner_in ease 1.5s;
}
@keyframes banner_in{
    0%{
       opacity: 0;
       transform: translate(-100px,-100px)
    }
    100%{
       opacity: 1;
       transform: translate(0,0)
    }
}
.banner .people{
    position: relative;
    top: 75px;
    float: left;
    left: 10px;
    z-index: 3;
    animation: fly_people_in 1.5s linear,fly_people linear infinite 6s 1.5s;
}
@keyframes fly_people_in{
    0%  {transform: translate(0,-100%)}
    100%{transform: translate(0,0)}
}
@keyframes fly_people{
    0% {transform: translate(0,0)}
    25%{transform: translate(0,-20px)}
    50%{transform: translate(0,0px)}
    75%{transform: translate(0,20px)}
    100%{transform: translate(0,0px)}
}
.banner .banner_main{
    position: relative;
    top: 30px;
    left: -25px;
    float: right;
    z-index: 2;
}
.banner .building{
    position: absolute;
    top: 359px;
    left: 805px;
    animation: fly_building infinite linear 3s;
    z-index: 1;
}
@keyframes fly_building{
    0% {transform: translate(0,0)}
    25%{transform: translate(0,-5px)}
    50%{transform: translate(0,-10px)}
    75%{transform: translate(0,-5px)}
    100%{transform: translate(0,0px)}
}
.banner .bird{
    position: absolute;
    top: 40px;
    left: 860px;
    animation: fly_bird_in 1.5s linear,fly_bird infinite linear 4s 1.5s;
}
@keyframes fly_bird_in{
    0%  {transform: translate(30%,-100%)}
    100%{transform: translate(0,0)}
}
@keyframes fly_bird{
    0% {transform: translate(0,0)}
    25%{transform: translate(0,-5px)}
    50%{transform: translate(0,-0px)}
    75%{transform: translate(0,5px)}
    100%{transform: translate(0,0px)}
}
/*倒计时*/
.count_down{
    animation: count_down 1.5s linear;
}
@keyframes count_down{
    0%  {transform: rotateX(180deg)}
    50% {transform: rotateX(180deg)}
    100%{transform: rotateX(0deg)}
}
#day{
    position: absolute;
    top: 429px;
    left: 298px;
    z-index: 3;
}
.day2{
    position: relative;
    left: -5px;
    top: 3px;
}
#hour{
    position: absolute;
    top: 435px;
    left: 411px;
    z-index: 3;
}
.hour2{
    position: relative;
    left: -5px;
    top: 3px;
}
#minute{
    position: absolute;
    top: 445px;
    left: 529px;
    z-index: 3;
}
.minute2{
    position: relative;
    left: -5px;
    top: 3px;
}
#second{
    position: absolute;
    top: 454px;
    left: 646px;
    z-index: 3;
}
.second2{
    position: relative;
    left: -5px;
    top: 3px;
}
#day img, #hour img, #minute img, #second img{
    float: left;
}
/*左右的两个二维码*/
#left_box{
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -750px;
    transform: translate(10%, 50%);
    z-index: 4;
    animation: left_box_in 1.5s linear,fly_leftbox infinite linear 6s 1.5s;
}
@keyframes left_box_in{
    0%  {opacity:0; margin-left: -850px;}
    100%{opacity: 1; margin-left: -750px;}
}
@keyframes fly_leftbox{
    0% {transform: translate(10%,50%)}
    25%{transform: translate(10%,55%)}
    50%{transform: translate(10%,50%)}
    75%{transform: translate(10%,45%)}
    100%{transform: translate(10%,50%)}
}
#right_box{
    position: fixed;
    top: 20%;
    right: 50%;
    transform: translate(345%, 50%);
    z-index: 4;
    animation: right_box_in 1.5s linear, fly_rightbox infinite linear 6s 1.5s;
}
@keyframes right_box_in{
    0%  {opacity: 0; margin-right: -100px}
    100%{opacity: 1; margin-right: 0}
}
@keyframes fly_rightbox{
    0% {transform: translate(345%,50%)}
    25%{transform: translate(345%,55%)}
    50%{transform: translate(345%,50%)}
    75%{transform: translate(345%,45%)}
    100%{transform: translate(345%,50%)}
}
/*重邮地图*/
.map{
    position: relative;
    top: -136px;
    width: 1100px;
    margin: 0 auto;
    clear: both;
    z-index: 3;
}
.map_title{
    position: relative;
    top: 4px;
    width: 262px;
    margin: 0 auto;
}
.main_map_frame{
    position: absolute;
    top: 192px;
    left: 132px;
    width: 876px;
    height: 429px;
    background: url(../imgs/green.png);
    background-size: 100% 100%;
    overflow: hidden;
    cursor: default;
    z-index: 3;
}
#real_cqupt_map{
    position: absolute;
    cursor: default;
}
#real_cqupt_map img{
    position: relative;
    top: 0;
    left: 0;
    cursor: default;
    width: 876px;
    height: 429px;
}
#cqupt_map{
    position: relative;
    cursor: default;
    width: 876px;
    height: 429px;
    z-index: 4;
}
.grass11{
    position: absolute;
    top: 570px;
    left: 945px;
}
.co1{
    position: absolute;
    width: 46px;
    height: 58px;
    top: 345px;
    left: 317px;
    z-index: 3;
    cursor: pointer;
    background: url(../imgs/coordinate.png) no-repeat;
}
.co2{
    position: absolute;
    width: 46px;
    height: 58px;
    top: 370px;
    left: 523px;
    z-index: 3;
    cursor: pointer;
    background: url(../imgs/coordinate.png) no-repeat;
}
.co3{
    position: absolute;
    width: 46px;
    height: 58px;
    top: 310px;
    z-index: 3;
    left: 558px;
    cursor: pointer;
    background: url(../imgs/coordinate.png) no-repeat;
}
.co4{
    position: absolute;
    width: 46px;
    height: 58px;
    top: 336px;
    z-index: 3;
    left: 606px;
    cursor: pointer;
    background: url(../imgs/coordinate.png) no-repeat;
}
.co5{
    position: absolute;
    width: 46px;
    height: 58px;
    top: 420px;
    z-index: 3;
    left: 680px;
    cursor: pointer;
    background: url(../imgs/coordinate.png) no-repeat;
}
.co1_introduce, .co2_introduce, .co3_introduce, .co4_introduce, .co5_introduce{
    display: none;
    position: absolute;
    width: 70px;
    left: 50px;
    top: -20px;
    line-height: 50px;
    padding: 0px 15px;
    background: #f7f2df;
    font-size: 22px;
    border-radius: 18px;
    font-family: '微软雅黑';
}
.co1:hover .co1_introduce, .co2:hover .co2_introduce, .co3:hover .co3_introduce, .co4:hover .co4_introduce, .co5:hover .co5_introduce{
    display: block;
    z-index: 2;
}
.daxiao{
    position: absolute;
    top: 550px;
    left: 900px;
    z-index: 3;
}
.daxiao img{
    cursor: pointer;
}
/*军训专题*/
.train{
    position: relative;
    top: -125px;
    width: 1150px;
    margin: 0 auto;
}
.train_title{
    position: relative;
    top: 8px;
    width: 265px;
    margin: 0 auto;
}
.train_main{
    position: relative;
    width: 1125px;
    height: 630px;
    background: url('../imgs/main_train.png') no-repeat;
    background-size: 100% 100%;
}
.train_main_cont{
    position: relative;
    width: 915px;
    left: 130px;
    height: 100%;
    overflow: hidden;
}
.lalian{
    position: relative;
    width: 915px;
    height: 580px;
    margin: 0 auto;
}
.lalian .lalian_title{
    position: relative;
    top: 60px;
    width: 200px;
    margin: 0 auto;
}
.lalian_title .lalianpian{
    position: relative;
    top: -6px;
    margin: 0 21px;
}
.lalian .lalian_main{
    position: relative;
    width: 858px;
    height: 201px;
    margin: 0 auto;
    top: 100px;
}
.lalian_main .lalian1, .lalian2, .lalian3{
    position: relative;
    float: left;
}
.lalian1, .lalian2{
    margin-right: 30px;
}
.lalian_controduce{
    position: relative;
    display: block;
    line-height: 25px;
    top: 10px;
    width: 860px;
    font-family: '宋体';
    font-size: 12px;
}
.lalian_footer{
    position: relative;
    top: 145px;
    left: 515px;
}
.grass21{
    position: absolute;
    top: 395px;
    left: -135px;
}
/*四个方块部分*/
.four_area{
    position: relative;
    width: 1440px;
    top: -60px;
    margin: 0 auto;
}
.mid-box {
    position: relative;
    margin-left: 160px;
    margin-right: 220px;
    height: 1296px;
    width: 1060px;
}
.yzgl-box {
    height: 645px;
    background: url('../img/yzgl.png') center center no-repeat;
}
.cyfc-box {
    height: 651px;
    background: url('../img/cyfc.png') center center no-repeat;
}
.yzgl {
    position: relative;
    float: left;
    width: 553px;
    height: 600px;
}
.yzgl:after {
    clear: both;
}
.cysj {
    position: relative;
    float: left;
    width: 507px;
    height: 600px;
}
.cysj:after {
    clear: both;
}
.yzgl .bag {
    position: relative;
    margin: 180px 0 0 222px;
    width: 166px;
    height: 166px;
    background: url('../img/bag.png') center center no-repeat;
}
.bag:hover {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;  
}
@keyframes rotate {
    0% {transform: rotate(0deg)}
    30%{transform: rotate(30deg)}
    60%{transform: rotate(-15deg)}
    80%{transform: rotate(10deg)}
    100%{transform: rotate(0deg)}
}
.paragraph {
    display: block;
    margin: 12px 0 0 127px;
    overflow: hidden;
    width: 352px;
    height: 75px;
    line-height: 25px;
    color: #666;
    font-size: 12px;
    font-family: SimSun;
    text-overflow: ellipsis;
}
.learnmore {
    position: relative;
    margin: 24px 0 0 212px;
    width: 190px;
    height: 77px;
    background: url('../img/learnmore.png') center center no-repeat;
}
.learnmore a {
    display: block;
    position: relative;
    margin-left: 10px;
    width: 178px;
    height: 66px;
    border-radius: 5px;
}
.pen {
    position: relative;
    margin: 180px 0 0 194px;
    width: 165px;
    height: 170px;
    background: url('../img/pen.png') center center no-repeat;
}
.pen:hover {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.paragraph-dif {
    margin-left: 88px;
}
.learnmore-dif {
    margin-left: 184px;
}
.cyfc {
    position: relative;
    float: left;
    width: 553px;
    height: 600px;
}
.aboutus {
    position: relative;
    float: left;
    width: 507px;
    height: 600px;
}
.fengcai {
    position: relative;
    margin: 180px 0 0 222px;
    width: 169px;
    height: 164px;
    background: url('../img/fengcai.png') center center no-repeat;
}
.fengcai:hover {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.brain {
    width: 168px;
    height: 167px;
    background: url('../img/brain.png') center center no-repeat;
}
.brain:hover {
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}
.learnmore:hover {
    animation-name: tran;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}
@keyframes tran {
    0% {transform: translate(10px)}
    5% {transform: translate(20px)}
    10% {transform: translate(25px)}
    15% {transform: translate(20px)}
    20% {transform: translate(10px)}
    25% {transform: translate(0px)}
    30% {transform: translate(-10px)}
    35% {transform: translate(-20px)}
    45% {transform: translate(-25px)}
    50%{transform: translate(-20px)}
    55%{transform: translate(-10px)}
    60%{transform: translate(0px)}
    65%{transform: translate(10px)}
    75%{transform: translate(0px)}  
    80%{transform: translate(-10px)}
    85%{transform: translate(0px)}
    90%{transform: translate(10px)}
    95%{transform: translate(-10px)}
    100%{transform: translate(0px)}
}
.grass12{
    position: absolute;
    top: 1125px;
    left: 1080px;
}
/*迎新活动*/
.activity{
    position: relative;
    top: -10px;
    width: 1200px;
    margin: 0 auto;
}
.activity_title{
    position: relative;
    width: 262px;
    top: 5px;
    margin: 0 auto;
}
.activity_main{
    position: relative;
    width: 1200px;
    top: -24px;
}
.activity1, .activity2{
    position: relative;
}
.activity2{
    margin-top: -70px;
}
.girl{
    position: absolute;
    top: 90px;
    left: 200px;
}
.boy{
    position: absolute;
    top: 90px;
    left: 180px;
}
.activity_controduce{
    position: absolute;
    left: 430px;
    top: 90px;
    display: block;
    width: 588px;
    color: #666666;
    font-family: '宋体';
    font-size: 12px;
}
.activity_more{
    position: absolute;
    left: 640px;
    top: 155px;
}
.grass22{
    position: absolute;
    top: 490px;
    left: -95px;
}

/*返回顶部*/
.go_top{
    position: fixed;
    top: 20%;
    right: 50%;
    margin-left: 100px;
    transform: translate(500%, 480%);
    z-index: 3;
    cursor: pointer;
    display: none;
}
.stone{
    position: relative;
    width: 90px;
    height: 100px;
}
.reset{
    position: relative;
    top: -70px;
    z-index: 4;
    left: 67px;
    width: 40px;
    height: 50px;
}

/*底部版尾*/
#footer{
    position: relative;
    height: 206px;
    width: 100%;
    margin: 0 auto;
    background: #d2f3aa;
}
#footer .footer_main{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
#footer .tongdao{
    position: relative;
    width: 320px;
    top: 56px;
    color: #78b035;
    margin: 0 auto;
    display: block;
}
.tongdao a{
    font-size: 16px;
    font-family: '微软雅黑';
    color: #78b035;
    text-decoration: none;
}
.shengming{
    position: relative;
    display: block;
    width: 657px;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #78b035;
    margin: 0 auto;
    top: 73px;
}
.relation{
    position: relative;
    display: block;
    width: 784px;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #78b035;
    margin: 0 auto;
    top: 90px;
}