body, div, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p {
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    background: #fff;
    color: #222;
}
ol, ul, li, h1, h2, h3, h4, h5, h6 {
    list-style: none;
}
a {
    color: #222;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
i, span {
    font-style: normal;
    /*font-weight: normal;*/
}
input, button, select{
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    outline: 0;
}
li:after {
    clear: both;
}
ul:after {
    clear: both;
}

/*头部*/
#header{
    position: fixed;
    width: 100%;
    background: #fff;
    height: 78px;
    z-index: 40;
}
#header .header_main{
    position: fixed;
    width: 1000px;
    height: 78px;
    margin-left: -500px;
    left: 50%;
    background: #fff;
}
#header .logo{
    width: 213px;
    float: left;
    margin-right: 50px;
}
.logo img{
    margin-top: 15px;
}
#header ul{
    float: right;
}
#header ul li{
    float: left;
    display: inline-block;
    list-style: none;
}
#header ul li a{
    display: inline-block;
    padding: 0 15px 0 15px;
    line-height: 78px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 19px;
    color: #000;
}
#header ul li a:hover{
    color: #fff;
    background: #a4f087;
}
#header ul:after{
    clear: both;
}

/*中间主体*/
#main{
    position: relative;
    min-width: 1000px;
    top: 78px;
    height: 2195px;
    margin: 0 auto;
    background: url(../imgs/bg_train.png) no-repeat center center;
    background-size: 100% 100%;
    background-position: top;
    overflow: hidden;
}
.banner{
    position: relative;
    width: 1030px;
    height: 800px;
    margin: 0 auto;
}
.banner_main{
    animation: banner_in ease 1.5s
}
@keyframes banner_in{
    0%{
       opacity: 0;
       transform: translate(-100px,-100px)
    }
    100%{
       opacity: 1;
       transform: translate(0,0)
    }
}
.people{
    position: relative;
    top: 75px;
    float: left;
    left: 10px;
    z-index: 3;
    animation: fly_people_in 1.5s linear, fly_people linear infinite 6s 1.5s;
}
@keyframes fly_people_in{
    0%  {transform: translate(0,-100%)}
    100%{transform: translate(0,0)}
}
@keyframes fly_people{
    0% {transform: translate(0,0)}
    25%{transform: translate(0,-20px)}
    50%{transform: translate(0,0px)}
    75%{transform: translate(0,20px)}
    100%{transform: translate(0,0px)}
}
.banner .banner_main{
    position: relative;
    top: 30px;
    left: -25px;
    float: right;
    z-index: 2;
}
.banner .building{
    position: absolute;
    top: 359px;
    left: 805px;
    animation: fly_building infinite linear 3s;
    z-index: 1;
}
@keyframes fly_building{
    0% {transform: translate(0,0)}
    25%{transform: translate(0,-5px)}
    50%{transform: translate(0,-10px)}
    75%{transform: translate(0,-5px)}
    100%{transform: translate(0,0px)}
}
.banner .bird{
    position: absolute;
    top: 40px;
    left: 860px;
    animation: fly_bird_in 1.5s linear,fly_bird infinite linear 4s 1.5s;
}
@keyframes fly_bird_in{
    0%  {transform: translate(30%,-100%)}
    100%{transform: translate(0,0)}
}
@keyframes fly_bird{
    0% {transform: translate(0,0)}
    25%{transform: translate(0,-5px)}
    50%{transform: translate(0,-0px)}
    75%{transform: translate(0,5px)}
    100%{transform: translate(0,0px)}
}
/*倒计时*/
.count_down{
    animation: count_down 1.5s;
}
@keyframes count_down{
    0%  {transform: rotateX(180deg)}
    50% {transform: rotateX(180deg)}
    100%{transform: rotateX(0deg)}
}
#day{
    position: absolute;
    top: 429px;
    left: 298px;
    z-index: 3;
}
.day2{
    position: relative;
    left: -5px;
    top: 3px;
}
#hour{
    position: absolute;
    top: 435px;
    left: 411px;
    z-index: 3;
}
.hour2{
    position: relative;
    left: -5px;
    top: 3px;
}
#minute{
    position: absolute;
    top: 445px;
    left: 529px;
    z-index: 3;
}
.minute2{
    position: relative;
    left: -5px;
    top: 3px;
}
#second{
    position: absolute;
    top: 454px;
    left: 646px;
    z-index: 3;
}
.second2{
    position: relative;
    left: -5px;
    top: 3px;
}
#day img, #hour img, #minute img, #second img{
    float: left;
}
/*左右的两个二维码*/
#left_box{
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -750px;
    transform: translate(10%, 50%);
    z-index: 3;
    animation: left_box_in 1.5s linear,fly_leftbox infinite linear 6s 1.5s;
}
@keyframes left_box_in{
    0%  {opacity:0; margin-left: -850px;}
    100%{opacity: 1; margin-left: -750px;}
}
@keyframes fly_leftbox{
    0% {transform: translate(10%,50%)}
    25%{transform: translate(10%,55%)}
    50%{transform: translate(10%,50%)}
    75%{transform: translate(10%,45%)}
    100%{transform: translate(10%,50%)}
}
#right_box{
    position: fixed;
    top: 20%;
    right: 50%;
    transform: translate(345%, 50%);
    z-index: 3;
    animation: right_box_in 1.5s linear, fly_rightbox infinite linear 6s 1.5s;
}
@keyframes right_box_in{
    0%  {opacity: 0; margin-right: -100px}
    100%{opacity: 1; margin-right: 0}
}
@keyframes fly_rightbox{
    0% {transform: translate(345%,50%)}
    25%{transform: translate(345%,55%)}
    50%{transform: translate(345%,50%)}
    75%{transform: translate(345%,45%)}
    100%{transform: translate(345%,50%)}
}
/*军训专题*/
.mili-box {
    position: relative;
    top: -90px;
    margin: 0 auto;
    width: 1206px;
    height: 1376px;
}
.mili {
    position:relative;
    height: 1376px;
    width: 1106px;
}
.mi_train {
    margin-left: 470px;
    width: 263px;
    height: 137px;
    background: url('../imgs/mili_t.png') center center no-repeat;
}
.mi_head {
    position: relative;
    height: 137px;
    background: url('../imgs/mi_head.png') center center no-repeat;
    z-index: 2;
}
.mi_mid1 {
    position:absolute;
    top: 239px;
    left: 23px;
    width: 1106px;
    height: 1105px;
    background: url('../imgs/mi_mid1.png') center center no-repeat;
}
.mi_mid1 .video{
    width: 870px;
    height: 510px;
    position: absolute;
    left: 145px;
    top: 100px;
    border: 1px solid #d2f1a0;
    border-radius: 10px;
    overflow: hidden;
    background: #000;
}
.video_list{
    width: 870px;
    height: 165px;
    position: absolute;
    top: 685px;
    left: 160px;
}
.video_list li{
    display: block;
    float: left;
    margin-right: 30px;
    width: 186px;
    height: 166px;
    border: 1px solid #d2f1a0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.video_list li:hover .zhezhao{
    top: 130px;
    height: 36px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.video_list li:hover .list_title{
    top: 135px;
}
.video_list li:last-child{
    margin-right: 0;
}
.video_list .list_title{
    width: 186px;
    display: block;
    text-align: center;
    color: #fff;
    z-index: 4;
    font-size: 16px;
    font-family: "微软雅黑";
    position: absolute;
    top: 70px;
    transition-property: all;
    transition-duration: 0.5s;
}
.video_list .zhezhao{
    width: 186px;
    height: 166px;
    position: absolute;
    z-index: 0;
    background: #000;
    border-radius: 10px;
    opacity: 0.4;
}
.mi_mid2 {
    position:absolute;
    top: 271px;
    left: 2px;
    width: 1103px;
    height: 1091px;
    background: url('../imgs/mi_mid2.png') center center no-repeat;
}
/* // 下面是连队风采 */
#fc_box {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 942px;
    height: 940px;
}

.fc_head {
    opacity: 0;
    position:relative;
    margin: 55px auto 50px 490px;
    width:200px;
    height:36px;
}

.fc_mid {
    position:relative;
    margin: 50px auto 0 166px;
    width:865px;
    height: 810px;
    z-index: 10;
    overflow: hidden;
}
.fc_bar {
    position: absolute;
    top: 190px;
    right: -119px;
    transform: rotate(-0.6deg);
    width:9px;
    height: 660px;
    background: #b7f1eb;
    border-radius: 5px;
}
.fc_scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 90px;
    background: #ff9062;
    border-radius: 5px;
    cursor: pointer;
}
.fc_head .leftArrow {
    position: absolute;
    left:0;
    width: 24px;
    height: 36px;
    background: url('../imgs/prev.png') center center no-repeat;
}
.fc_head_title {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 36px;
    color: #ffb600;
    font-size:26px;
    font-family: "Microsoft YaHei";
    line-height: 36px;
    text-align: center;
}
.rightArrow {
    position: absolute;
    right: 0;
    top:0;
    width: 24px;
    height: 36px;
    background: url('../imgs/next.png') center center no-repeat;
}
.fc_mid .fc_content {
    position: relative;
    top: 0;
    left 0;
    height: 810px;
    width: 4325px;
}
.fc_content li {
    position: relative;
    float: left;
    width: 865px;
    height: 1810px;
    top: 0;
}
.fc_li ul li {
    float: left;
    margin: 20px 10px 10px 10px;
    width: 264px;
    height: 226px;
    border: 1px solid #c0ea7a;
    border-radius: 15px;
    background: url('../imgs/fc_5.jpg') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    overflow: hidden;
}
.row_wrap {
    display: block;
    position: relative;
    width: 264px;
    height: 226px;
    background: #8fc0ac;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}
.semi-circle {
    position: absolute;
    left: 62px;
    bottom: -35px;
    width: 130px;   
    height: 65px;
    border-radius: 100%;
    background: #f9fff1;
}
.semi-circle p {
    display: block;
    position: relative;
    top: 6px;
    color:#fe872f;
    font-size: 16px;
    text-align: center;
}
.fc_li ul li:hover .row_wrap {
    display: none;
}
.fc_li ul li:hover .semi-circle {
    transition-property: all;
    transition-duration: 0.5s;
    bottom: -65px;
}

.fc_content .fc_li2 {
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*连队风采点击放大效果 */
.fc_pic {
    position: relative;
    top: 200px;
    width: 100px;
    height: 100px;
    background: red;
}
#mask {
    position:fixed;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #222;
    opacity: 0.7;
    filter: alpha(opacity = 70);
    z-index: 100;
}
#fc_big {
    position: relative;
    margin: -1200px auto 0 auto;
    height: 812px;
    width: 939px;
    background: url('../imgs/wrap_fff.png') center center no-repeat;
    z-index: 110;
}
#fc_big .big_close {
    position: absolute;
    top: 21px;
    right: 26px;
    width: 52px;
    height: 53px;
    background :url('../imgs/close.png') center center no-repeat;
}
#fc_big .big_pic {
    position: absolute;
    top: 73px;
    left: 98px;
    width: 741px;
    height: 530px;
    border-radius: 20px;
    border 1px solid #cbcbcb;
    background: url('../imgs/fc_5.jpg');
    background-size: cover;
}
#fc_big .big_word {
    position: absolute;
    top: 648px;
    left: 98px;
    width: 741px;
    height: 114px;
}
.word_ti {
    // display: block;
    text-align:center;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 28px;

}
.word_co {
    font-size: 16px;
    color: #666;
    letter-spacing: 1px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mi_mid3 {
    position:absolute;
    top: 262px;
    left: 1px;
    width: 1106px;
    height: 1105px;
    background: url('../imgs/mi_mid3.png') center center no-repeat;
}
.mid3_title{
    position: absolute;
    top: 60px;
    left: 180px;
    width: 915px;
    z-index: 2;
}
.mid3_title li{
    float: left;
    font-size: 20px;
    font-family: "微软雅黑";
    color: #50b102;
    margin-right: 100px;
    margin-left: 100px;
    cursor: pointer;
}
.mid3_title li:hover{
    color: #ff8d13;
}
.mid3_title li:hover .underline{
    position: relative;
    background: #ff8d13;
    width: 80px;
    top: 16px;
    border-radius: 5px;
    height: 5px;
    display: block;
    z-index: 2;
}
.active1{
    color: #ff8d13;
}
.active2{
    position: relative;
    background: #ff8d13;
    width: 80px;
    top: 16px;
    border-radius: 5px;
    height: 5px;
    display: block;
    z-index: 2;
}
.content{
    position: relative;
    display: block;
    top: 140px;
    width: 775px;
    overflow: hidden;
    left: 200px;
}
.content_area{
    width: 775px;
    padding-bottom: 20px;
    border-bottom: 1px solid #78b035;
    margin-top: 30px;
}
.content_title{
    font-size: 16px;
    display: block;
    float: left;
    font-family: "微软雅黑";
    color: #fd6b2f;
}
.content_main{
    font-size: 14px;
    font-family: "微软雅黑";
    color: #ffa22a;
}
.scroll_w{
    position:absolute;
    left: 859px;
    transform: rotate(-0.8deg);
    top: 70px;
    width: 9px;
    height: 660px;
    background: #b7f1eb;
    border-radius: 5px;
}
.scroll{
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 90px;
    background: #ff9062;
    border-radius: 5px;
    cursor: pointer;
}
.knowledge{
    position: relative;
    top: 180px;
    width: 900px;
    padding-right: 54px;
    height: 750px;
    overflow: hidden;
    left: 200px;
}
.knowledge_kn1{
    position: absolute;
    width: 810px;
    height: 750px;
    overflow: hidden;
}
.knowledge_kn2{
    position: relative;
    padding-bottom: 20px;
}
.knowledge_area{
    position: relative;
    width: 810px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.knowledge_title{
    display: block;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: #fd6b2f;
    margin-bottom: 30px;
}
.knowledge_main{
    display: block;
    font-size: 14px;
    color: #ffa22a;
    margin: 10px 0 10px 0;
}
.knowledge_main p{
    display: inline-block;
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.knowledge_main span{
    display: block;
    height: 1px;
    background: #78b035;
    color: #78b035;
    text-overflow: hidden;
}
.scroll_ww{
    position:absolute;
    left: 840px;
    transform: rotate(-0.8deg);
    top: 70px;
    width: 9px;
    height: 660px;
    background: #b7f1eb;
    border-radius: 5px;
}
.scrolll{
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 90px;
    background: #ff9062;
    border-radius: 5px;
    cursor: pointer;
}
.discipline{
    position: relative;
    top: 100px;
    left: 220px;
    width: 855px;
    height: 850px;
    overflow: hidden;
}
.discipline_di1{
    position: relative;
    padding: 0;
    top: 70px;
    width: 770px;
    height: 800px;
    overflow: hidden;
}
.discipline_di2{
    position: relative;
    top: 0;
    width: 770px;
}
.discipline_area{
    display: block;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.discipline_title{
    font-size: 16px;
    color: #fd6b2f;
    margin-bottom: 30px;
    display: block;
}
.discipline_main{
    font-size: 14px;
    color: #ffa22a;
}
.discipline_main p{
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #78b035;
    text-overflow: hidden;
}
.discipline_main span{
    line-height: 40px;
    text-overflow: hidden;
}
.mi_mid4{
    position:absolute;
    top: 247px;
    left: 0px;
    width: 1106px;
    height: 1105px;
    background: url('../imgs/mi_mid4.png') center center no-repeat;
}
.mi_btn_box {
    position: absolute;
    margin-top: 49px;
    margin-left: 143px;
    height: 90px;
    width: 963px;
}
.mi_btn {
    float: left;
    width:213px;
    height: 88px;
    margin: 0 10px 0 10px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.mi_btn1 {
    font-size: 26px;
    font-family: "微软雅黑";
    line-height: 75px;
    width: 213px;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background: url('../imgs/botton_hover.png') center center no-repeat;
}
.mi_btn2 {
    font-size: 26px;
    font-family: "微软雅黑";
    line-height: 75px;
    width: 213px;
    text-align: center;
    cursor: pointer;
    color: #ff962a;
    background: url('../imgs/botton.png') center center no-repeat;
}
.mi_btn3 {
    font-size: 26px;
    font-family: "微软雅黑";
    line-height: 75px;
    width: 213px;
    text-align: center;
    cursor: pointer;
    color: #ff962a;
    background: url('../imgs/botton.png') center center no-repeat;
}
.mi_btn4 {
    font-size: 26px;
    font-family: "微软雅黑";
    line-height: 75px;
    width: 213px;
    text-align: center;
    cursor: pointer;
    color: #ff962a;
    background: url('../imgs/botton.png') center center no-repeat;
}

/*小草*/
.grass{
    position: relative;
    top: 30px;
}
/*返回顶部*/
.go_top{
    position: fixed;
    top: 20%;
    right: 50%;
    margin-left: 100px;
    transform: translate(500%, 480%);
    z-index: 3;
    cursor: pointer;
    display: none;
}
.stone{
    position: relative;
    width: 90px;
    height: 100px;
}
.reset{
    position: relative;
    top: -70px;
    z-index: 4;
    left: 67px;
    width: 40px;
    height: 50px;
}

/*底部版尾*/
#footer{
    position: relative;
    height: 206px;
    width: 100%;
    margin: 0 auto;
    background: #d2f3aa;
}
#footer .footer_main{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
#footer .tongdao{
    position: relative;
    width: 320px;
    top: 56px;
    color: #78b035;
    margin: 0 auto;
    display: block;
}
.tongdao a{
    font-size: 16px;
    font-family: '微软雅黑';
    color: #78b035;
    text-decoration: none;
}
.shengming{
    position: relative;
    display: block;
    width: 657px;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #78b035;
    margin: 0 auto;
    top: 73px;
}
.relation{
    position: relative;
    display: block;
    width: 784px;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #78b035;
    margin: 0 auto;
    top: 90px;
}
